VOYAGE_API_KEY=pa-mtexsgXdrUIZuchS10qh3zPu5fTUgug59lgQiOFOteK

# Pinecone API Key and Environment
PINECONE_API_KEY=pcsk_2hR6uN_618BdSN88YAyY38tj9Fk5QRxBRheEtU6gNVuyQagF2EgGGVQZLArCr1fv3SAAfb
PINECONE_INDEX=https://creatine-ys0kf9x.svc.aped-4627-b74a.pinecone.io

# Gemini API Key 
 GEMINI_API_KEY=AIzaSyB_SYdI6ee1OZB3mQIFusH4YQNUzkx6p70